@media (max-width: 769px){
  /* PHONE */
  .CellContainer { 
  // background-color: yellow;
  grid-template-columns: 1fr; /* 1 column on very small screens */
      grid-auto-rows: minmax(50vh, auto); /* Ensures rows adjust dynamically */
      padding: 0px;
      // background-color: yellow;
      // row-gap: 8px; /* Add vertical space between items */
      scroll-snap-type: y mandatory; /* Snap in vertical direction */
      overflow-y: scroll;
      height: 100vh; 

  }
  
  .FullPageForMobile{
    // background-color: aliceblue;
    aspect-ratio: 1;
    width: 100%;
    scroll-snap-align: start; 
    // min-height: 50vh;
    height: 100%;
    grid-row: span 2;
  }
  }
  
  @media (min-width: 769px) and (max-width: 1600px) {
    /* IN BETWEEN */
    .CellContainer { 
      // background-color: palegreen;
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 128px;
      // background-color: red;
      }
      .Cell { 
    // background-color: orange; /* Example color */
    // max-width: 80%;
    display: flex; /* This ensures we can control alignment within the cell */
    align-items: flex-start; /* Align the content to the left */
    justify-content: flex-start; /* Ensure the content starts from the left */
    padding: 10px; /* Optional padding to create space inside the cell */
    // border-bottom: 1px solid var(--secondary-color); /* Line to separate cells */
  }

}

  
  @media (min-width: 1600px) {
      /* DESKTOP */
      .CellContainer { 
        // background-color: rgb(30, 153, 30);
        display: flex;
        flex-direction: column;
        align-items: center;
        }
        .Cell { 
      // background-color: orange; /* Example color */
      max-width: 1600px;
      display: flex; /* This ensures we can control alignment within the cell */
      align-items: flex-start; /* Align the content to the left */
      justify-content: flex-start; /* Ensure the content starts from the left */
      padding: 10px; /* Optional padding to create space inside the cell */
      // border-bottom: 1px solid var(--secondary-color);
    }

  }
  
  
