:root {
    font-family: 'Montserrat';
    --border-color: #363639;
    --background-color: #F1F0E8;
    --primary-color: #89A8B2;
    --secondary-color: #B3C8CF;
    --accent-color: #3da2c4;
    --text-color: #333333;
    --muted-text-color: #777777;
    --font-family: 'Montserrat';
    --nav-color: rgba(241, 240, 232, 0.9);




    --nav-height: 72px;
}

[data-theme="dark"] {
    --background-color: #1E1E1E;
    --primary-color: #6A9BAE;
    --secondary-color: #445B63;
    --accent-color: #FF6F61;
    --text-color: #E4E4E4;
    --muted-text-color: #A9A9A9;
    --border-color: #575757;
    --nav-color: rgba(30, 30, 30, 0.693);
    font-family: 'Montserrat';



    --nav-height: 72px;


}