.navContainer {
  height: 100%;

  * {
    // transition: all 0.2s ease-in-out;
  }

  &.Lg_nav {
    // background-color: orange;
    display: flex;
    justify-content: center;
    border-bottom: 1px solid var(--secondary-color);
    background-color: var(--nav-color);
    .MenuBar {
      // background-color: azure;
      display: flex;
      align-items: center;

      padding: 0px 16px 0px 16px;
      backdrop-filter: blur(12px);
      height: 100%;
      justify-content: space-between;
      width: 100%;
      max-width: 1800px;

      .hamburger-button {
        display: none;
        cursor: pointer;
      }

      .nav-links {
        display: flex;
        gap: 1.5rem;
        list-style-type: none;
        margin: 0;
        padding: 0;
        justify-content: center;
        align-items: center;
        opacity: 1;
        height: 100%;
        color: var(--text-color);

        li {
          position: relative;
          display: flex;
          align-items: center;

          a {
            display: flex;
            align-items: center;
            text-decoration: none;
            font-size: 0.9rem;
          }

          .prefix {
            opacity: 0;
            transform: translateY(4px);
          }

          &.active {
            .prefix {
              opacity: 1;
              transform: translateX(0);
            }
            .label {
              transform: translateX(2px); /* Scooch the label to the right */
            }
          }
        }
      }

      .SocialsSection {
        display: flex;
        align-items: center;
        // padding: 2px;
        justify-content: center;
        // background-color: red;

        .SocialMediaNavContainer {
          display: flex;
          gap: 12px;

        //   background-color: red;
        }
      }
    }

    .ExpandedMenuSection {
      // background-color: red;
      display: none;
    }
  }

  &.Md_nav {
    .MenuBar {
      //   background-color: salmon;
      display: flex;
      align-items: center;
      padding-left: 16px;
      padding-right: 16px;
        
      height: 100%;
      justify-content: space-between;
      background-color: var(--nav-color);
      .nav-links {
        display: none;
      }
      .SocialsSection {
        display: none;
      }
      .hamburger-button {

        cursor: pointer;
      }
    }
    .ExpandedMenuSection {
      // background-color: bisque;
      // height: 0;
      overflow: hidden;
      opacity: 0;

      &.MenuOpen {
        // height: 50vh;
        opacity: 1;
      }

      .nav-links {
        // width: 100%;
        display: flex;
        flex-direction: column;
        // background-color: azure;
        padding: 36px;
        gap: 1rem;
        margin: 0;

        display: grid;

        grid-template-columns: repeat(4, 1fr); /* 2 columns of equal width */
        grid-template-rows: repeat(3, 1fr);
        li {
          padding: 12px; // Slightly larger padding for nested content
          height: 130px; // Adjusted height
          // width: 160px; // Adjusted width
          background-color: #f4f4f4; // Light neutral background
          border: 1px solid #e0e0e0; // Subtle border
          border-radius: 8px; // Rounded corners for a modern look
          box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); // Soft shadow for depth
          display: flex; // Flexbox layout
          flex-direction: column; // Stack elements vertically
          justify-content: center; // Center content vertically
          text-align: center; // Align text in the center

          // font-size: 2.8rem;
        }
      }
    }
  }

  &.Sm-nav-transparent {
    .MenuBar {
      background: none;
      display: flex;
      align-items: center;
      justify-content: space-between;
          background: linear-gradient(to bottom, rgba(0, 0, 0, 0.8) 0%, rgba(0, 0, 0, 0) 100%);
//   
      padding: 12px;
        color: white;
      .nav-links {
        display: none;
      }
      .SocialsSection {
        display: none;
      }

      .hamburger-button {

        cursor: pointer;
      
    }


    }

    .ExpandedMenuSection {
      display: flex;
      align-items: center;
      justify-content: center;
      // height: 100vh;
      // opacity: 0;
      // visibility: hidden;

      &.MenuOpen {
        display: block;
        height: 100vh;
        visibility: visible;
        opacity: 1;
        // background-color: red;

        .nav-links {
          // width: 100%;
          display: flex;
          flex-direction: column;
          // background-color: azure;
          padding: 36px;
          gap: 1rem;
          margin: 0;
          display: grid;
          grid-template-columns: repeat(2, 1fr); /* 2 columns of equal width */
          grid-template-rows: repeat(auto, 1fr);
          li {
            padding: 12px; // Slightly larger padding for nested content
            height: 130px; // Adjusted height
            background-color: #f4f4f4; // Light neutral background
            border: 1px solid #e0e0e0; // Subtle border
            border-radius: 8px; // Rounded corners for a modern look
            box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); // Soft shadow for depth
            display: flex; // Flexbox layout
            flex-direction: column; // Stack elements vertically
            justify-content: center; // Center content vertically
            text-align: center; // Align text in the center

            // font-size: 2.8rem;
          }
        }
      }

      &.MenuClosed {
        // background-color: orange;
        .nav-links {
          transform: scale(0);
          background-color: azure;

          li {
            padding: 12px; // Slightly larger padding for nested content
            height: 130px; // Adjusted height
            background-color: #f4f4f4; // Light neutral background
            border: 1px solid #e0e0e0; // Subtle border
          }
          // opacity: 0;
        }
      }
    }
  }

  &.Sm-nav-opaque {
    .MenuBar {
      height: 100%;
      background: none;
      display: flex;
      align-items: center;
      background-color: var(--nav-color);
      justify-content: space-between;
      padding: 0px 16px 0px 16px;
      z-index: 1999;

      .nav-links {
        display: none;
      }
      .SocialsSection {
        display: none;
      }
      .hamburger-button {

        cursor: pointer;
      
    }
      
    }

    .ExpandedMenuSection {
      display: flex;
      align-items: center;
      justify-content: center;
      // height: 100vh;
      // opacity: 0;
      // visibility: hidden;

      &.MenuOpen {
        display: block;
        height: 100vh;
        visibility: visible;
        opacity: 1;
        // background-color: red;

        .nav-links {
          // width: 100%;
          display: flex;
          flex-direction: column;
          // background-color: azure;
          padding: 36px;
          gap: 1rem;
          margin: 0;
          display: grid;
          grid-template-columns: repeat(2, 1fr); /* 2 columns of equal width */
          grid-template-rows: repeat(auto, 1fr);
          li {
            padding: 12px; // Slightly larger padding for nested content
            height: 130px; // Adjusted height
            background-color: #f4f4f4; // Light neutral background
            border: 1px solid #e0e0e0; // Subtle border
            border-radius: 8px; // Rounded corners for a modern look
            box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); // Soft shadow for depth
            display: flex; // Flexbox layout
            flex-direction: column; // Stack elements vertically
            justify-content: center; // Center content vertically
            text-align: center; // Align text in the center

            // font-size: 2.8rem;
          }
        }
      }

      &.MenuClosed {
        // background-color: orange;
        .nav-links {
          transform: scale(0);
          background-color: azure;

          li {
            padding: 12px; // Slightly larger padding for nested content
            height: 130px; // Adjusted height
            background-color: #f4f4f4; // Light neutral background
            border: 1px solid #e0e0e0; // Subtle border
          }
          // opacity: 0;
        }
      }
    }
  }
}



.SocialMediaNavContainer {
    display: flex;
    gap: 12px;
    align-items: center;
    justify-content: center;
    * { 
        
        color: var(--text-color);
  
      }  }