.floatingTextBackgroundWrapper {
    // background-color: rgba(255, 0, 0, 0.346); /* Optional background color */
    height: 100%; /* Fill parent container */
    width: 100%; /* Fill parent container */
    position: absolute; /* Position behind other content */
    top: 0;
    left: 0;
    z-index: -1; /* Behind content */
    pointer-events: none; /* Let clicks pass through */
  }


  .legibilityfilter {
    filter: blur(5px) brightness(0.8) contrast(1.2);
  }

  .superdarkblur {
    filter: blur(5px) brightness(0.3) contrast(1.2);

  }
  

  .floatingTextBackground {
    background: var(--zune-text-bg-color, var(--accent-color));
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
  }
  
  .floatingTextContent {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
    transform: rotate(-45deg); /* Apply rotation to the text */
  }
  
  .floatingTextRow {
    display: flex;
    white-space: nowrap;
    font-size: 20rem;
    font-weight: bold;
    text-transform: uppercase;
    color: #ffffff36; /* Make the text visible */
    animation: scrollText 30s linear infinite;
  }
  
  .floatingTextRow:nth-child(odd) {
    animation-direction: reverse; /* Alternate scroll direction for odd rows */
  }
  
  @keyframes scrollText {
    0% {
      transform: translateX(0);
    }
    100% {
      transform: translateX(-100%);
    }
  }

  .childrenWrapper {
    position: relative;
    z-index: 1; /* Ensures this is above the floating text */
    padding: 20px;
    display: flex;
    height: 100%;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  


  .container {
    display: grid;
    grid-template-columns: 1fr; /* One column layout */
  //   gap: 12px;
    min-height: 100vh; /* Full screen height */
    margin: 0;
    position: relative;
  }

  .background {
      display: block;
      position: absolute; /* Position the background behind other content */
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      
      z-index: -1; /* Place behind content */
      pointer-events: none; /* Allow interaction with content on top */
    }
    