.heroCell {
  display: grid;
  place-items: center;
  height: 100%;
  background-color: var(--primary-color);
  text-align: center;
  transition: background-color 0.3s ease-in-out;
  padding: 20px;
  width: 100%;
  border-radius: 10px;
  overflow: hidden;
  color: var(--text-color);
  padding-bottom: 40px;
  position: relative; /* Allow positioning of child elements */
}

.greeting {
  z-index: 2;
  margin-bottom: 20px;

  h1 {
    font-size: 3rem;
    margin-bottom: 0.5rem;
  }

  p {
    font-size: 1.25rem;
  }
}

.bouncyarrows {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 10px;
  position: absolute;
  bottom: 96px; /* Adjust to give more space */
  left: 50%;
  transform: translateX(-50%);
}

.arrow {
  font-size: 5rem; /* Adjust size as needed */
  animation: bounce 1.5s infinite ease-in-out;
  color: var(--text-color); /* Match text color */
}

.arrow:nth-child(2) {
  animation-delay: 0.2s; /* Delay for the second arrow */
}

.arrow:nth-child(3) {
  animation-delay: 0.4s; /* Delay for the third arrow */
}

@keyframes bounce {
  0%,
  100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-10px); /* Adjust bounce height */
  }
}