/* HeroCell.module.scss */
.heroCell {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 40px 20px;
  height: 100%;
  width: 100%;
  background-color: var(--primary-color);
  color: var(--text-color);
  font-family: 'Montserrat', sans-serif;
}

.greeting {
  margin-bottom: 30px;
}

.greetingTitle {
  font-size: 6rem;
  color: var(--background-color);
  // font-weight: bold;
  margin-bottom: 16px;
}

.introText {
  font-size: 2rem;
  color: var(--secondary-color);
  margin-bottom: 24px;
  line-height: 1.6;
}

.wipTitle {
  font-size: 2rem;
  color: var(--accent-color);
  margin-bottom: 16px;
}

.subText {
  font-size: 1rem;
  color: var(--text-color);
}

.link {
  color: var(--accent-color);
  font-weight: bold;
  text-decoration: none;
  border-bottom: 2px solid transparent;
  transition: all 0.3s ease;

  &:hover {
    border-bottom: 2px solid var(--accent-color);
  }
}

.bouncyArrows {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.arrow {
  font-size: 10rem;
  color: var(--accent-color);
  animation: bounce 1.5s infinite;
  transition: transform 0.2s ease, color 0.2s ease;
}



@keyframes bounce {
  0%, 100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-30px);
  }
}

@media (min-width: 768px) {
  .bouncyArrows { 
    display: none;
  }
}